* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: rgb(35, 145, 182);
    display: flex;
}

header nav {
    width: 820px;
    margin: 0 auto;
    color: #fff;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    padding: 16px;
}

main {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    text-align: center;
    gap: 20px;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

main .Taat {
    max-width: 500px;
    border: 2px solid black;
    padding: 16px;
    border-radius: 10px;
}


/* Mobile */
@media (max-width: 553px) {
    nav li {
        font-size: 10px;
    }
    main {
        display: block;
    }
    main .Taat{
        margin-top: 32px;
    }
}


/* Tablet */
@media (max-width: 768px)   {
    nav li {
        font-size: 20px;
    }
    
    main {
        display: block;
        margin-left: 100px;
    }
    main .Taat{
        margin-top: 32px;
    }
}